<h1>Checkout - {{ product.name }} ({{ size.size }})</h1>
<p>Price: KSh {{ product.price }}</p>

<form action="{% url 'lipa_na_mpesa_online' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="product_id" value="{{ product.id }}">
  <input type="hidden" name="size_id" value="{{ size.id }}">
  <input type="text" name="name" placeholder="Your Name" required>
  <input type="text" name="phone" placeholder="2547XXXXXXXX" required>
  <button type="submit">Pay with M-Pesa</button>
</form>
